@import '../../styles/colors';

.search-form {
  display: flex;
  align-items: center;
}

.search-form__search-field {
  flex-grow: 1;
  margin-right: 30px;
  border: none;
  background: #fff;
  color: $color-blue;
  border-radius: 0.3em;
  padding: 0.8em 1em;
  font-size: 2rem;
  outline: none;
}

.search-form__search-field::placeholder {
  color: #a4aac4;
}
