/**
 * Base scss file (Settings, Reusable Classes)
 */

/*------------------------------------*\
  #Basic Settings
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // if browser default font size == 16px, then current size is 10px
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

/*------------------------------------*\
  #Reusable Classes
\*------------------------------------*/

.centered-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
